*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width: 768px) {
    html {
        font-size: 90%;
    }
}

@media (max-width: 648px) {
    html {
        font-size: 87.5%;
    }
}
body{
    background: #f8f8f8;
    color: #29292e;
}

body, input, button, textarea{
    font: 400 16px 'Roboto', sans-serif;
}

